@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');




 *,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #263343;
  color: white;
  font-family: 'Raleway', arial;
}

.container {
    margin: 150px 20px;
    display: flex;
}

.mainbox {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.maindetail {
    margin: 0px;
}


.backbtn:hover {
    background-color: blue;
}

.backbtn {
    color: white;
    border: 3px solid white;
    padding: 8px 15px;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: none;
    margin: 0px 10px;
}
.backbtn:hover{
    background-color: blue;
}
.backbtnicon{
    background: none;
}
.backbtnicon:hover{
    background-color: blue;
}

.ytlink {
    color: white;
    border: 3px solid white;
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 0px 10px;
}

.ytlink a {
    background: none;
}

.ytlink:hover {
    background-color: blue;
}