@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');




 *,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #263343;
  color: white;
  font-family: 'Raleway', arial;
}

.container {
    margin: 150px 20px;
    display: flex;
}

.mainbox {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.detailimg {
    width: 300px;
}

.backbtn:hover {
    background-color: blue;
}

.backbtn {
    color: white;
    border: 3px solid white;
    padding: 8px 15px;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: none;
    margin: 0px 10px;
}
.backbtn:hover{
    background-color: blue;
}
.backbtnicon{
    background: none;
}
.backbtnicon:hover{
    background-color: blue;
}

.ytlink {
    color: white;
    border: 3px solid white;
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 30px 18px;
}

.ytlink a {
    background: none;
}

.ytlink:hover {
    background-color: blue;
}

.info {
    padding: 0px 25px;
    font-size: 1.1rem;
}

.info p {
    padding: 10px;
    margin: 3px;
   
    
}

.info h1 {
    padding: 0px 10px ;
}



.info ul, li {
    list-style-type: none;
    display: flex;
    
    margin-right: 10px;
    margin-top: 5px;
}

.modalbg {
    /* display: flex;
    justify-content: center; */
    display:block;
    position: fixed;
    background: rgba(255, 0, 0, 1);
    z-index: 998;
    
}

.open {
   
     display: block; 
    position: fixed; 
    z-index: 999;
    left: 50%;
    top: 50%;
    height: 50%;
    width: 50ch;
    transform:translate(-50%,-50%);
    overflow: auto;
    background: black;
    background-color: black;
    
}

