@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');



*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #263343;
  color: white;
  font-family: 'Raleway', arial;
}


.title {
    word-break: keep-all;
    word-wrap: break-word;
    color: white;
}

.bbox {
    width: 250px;
    height: 530px;
    padding: 0px 8px;
    font-size: small;
  
}

.homeinfo {
  padding: 5px;
}

.homeinfo p {
  padding: 2px;
}

.homeinfo li {
  list-style-type: none;
  padding: 2px;
}