@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');




*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #263343;
  font-family: 'Raleway', arial;
}

body {
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 1310px;
    background-color:  #263343;
    padding: 20px 10px;
}

.navbar-logo {
    font-size: 30px;
    color: #53c2db;
    padding: 8px;
    font-weight: bold;
}


.navbar-menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    color: #2ebbdb;
    font-weight: bold;
    font-size: 20px;

}
/* changed */
.navbar-menu a {
    padding: 20px 20px;
    fill: none;
}

.navbar-menu a:hover {
    background-color: #53c4dd;
    border-radius: 4px;
}


/* .navbar-toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 28px;
    color: #53c2db;
    margin: 10px -10px;
} */

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 24px;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-menu li {
        width: 100%;
        text-align: center;
    }


    /* .navbar-toggleBtn {
        display: block;

    } */
}

/* home css */
.boxes {
    max-width: 1320px;

   
}

.boxes .container {
  
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    }
  
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    padding: 10px 20px;
    margin: 10px 10px;
    flex-wrap: wrap;
  }


.searchbox {
    padding: 140px ;
    color: white;
    display: flex;
    justify-content: center;
}

.searchbox input, select, option {
    height: 100%;
    /* width: 100%; */
    outline: none;
    border: none;
    border-radius: 6px;
    background: white;
    color: black;
    padding: 15px 20px;
    margin: 0px 5px;
    font-size: 1.2rem;
}

.searchbox h2 {
    padding: 10px 20px;
}



.searchbox p {
    padding: 10px 20px;
    font-size: 1.6rem;
}

.footerBtn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 0px;
    margin: 30px 10px ;
    
}

.footerBtn p {
    padding: 10px 20px;
    font-size: 1.5rem;
}
