*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #263343;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 1310px;
    background-color:  #263343;
    padding: 10px 10px;
}

.navbar-logo {
    font-size: 24px;
    color: #53c2db;
    padding: 8px;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    color: #53c2db;
    font-weight: bold;
}
/* changed */
.navbar-menu a {
    padding: 20px 25px;
}

.navbar-menu a:hover {
    background-color: #53c2db;
    border-radius: 4px;
}

.navbar-icons {
    list-style: none;
    color: white;
    display: flex;
    padding: 0%;
}

.navbar-icons li {
    padding: 8px 12px;
}

/* .navbar-toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 28px;
    color: #53c2db;
    margin: 10px -10px;
} */

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-menu li {
        width: 100%;
        text-align: center;
    }

    .navbar-icons {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* .navbar-toggleBtn {
        display: block;

    } */
}

/* home css */
.boxes {
    max-width: 1310px;
    max-height: 2500px;
    margin-left: auto;
    margin-right: auto;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    }
  
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    padding: 10px 20px;
    margin: 10px 10px;
    flex-wrap: wrap;
  }
.search-bar {
    color: white;
    text-align: center;
    margin-top: 70px;
}

.footerBtn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 0px;
    margin: 10px 10px ;
}
